:root {
  --white: #ffffff;
  --green: #c4f82a;
  --gray-700: #333333;
  --gray-800: #1f1f1f;
  --gray-900: #141414;

  --ff-base: "Inter", sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--white);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
  word-wrap: normal;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: var(--gray-900);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: clamp(20.438rem, 17.038rem + 14.504vw, 24rem);
  padding: clamp(1.5rem, 0.546rem + 4.071vw, 2.5rem);
  background-color: var(--gray-800);
  border-radius: 12px;
}

.card__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.card__image-wrapper img {
  height: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
}

.card__name {
  font-weight: var(--fw-semi-bold);
  font-size: 1.5rem;
  line-height: 1.5;
}

.card__location {
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--green);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  font-weight: var(--fw-bold);
  text-align: center;
  background-color: var(--gray-700);
  border-radius: 8px;
  transition:
    color 0.2s,
    background-color 0.2s;
}

.card__link:focus-visible {
  outline: 2px dashed var(--green);
  outline-offset: 2px;
}

@media (hover: hover) {
  .card__link:hover {
    color: var(--gray-700);
    background-color: var(--green);
  }
}
